/* General container styling*/
.container{
    max-width: 800px;
    margin: 15px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 6px 4px 8px rgba(0 0 0 0.1);
}

/* Table styling*/
table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background-color: #D3D3D3;
    color: #454545;
}

th, td{
    padding: 3px;
    text-align: center;
    border: 1px solid #dddddde0;
}

tbosy tr:nth-child(even){
    background-color: #e9ecef;
}

/* Input and select styling*/
input[type="text"], select {
    width: 80%;
    padding: 6px;
    border: 2px solid #ced4da;
    border-radius: 4px;
}

input[type='checkbox']{
    transform: scale(1.5);
    margin: 0 auto;
    display: block;
}

/* Input and select styling*/
input[type="text"], select{
    width: 80%;
    padding: 6px;
    border: 2px solid #ced4da;
    border-radius: 4px;
}

/*Border styling*/
button{
    padding: 8px 10px;
    font-size: 10px;
    color:#454545;
    background-color: #D3D3D3    ;
    border: grey;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(88, 196, 164);
}

/*Average mitigation score display*/
.mt-4{
    margin-top: 18px;
}
.text-primary{
    color: #D3D3D3;
}

.text-success{
    color: #28a78e;
}

.ml-3{
    margin-left: 16px;
}

/*Disable checkbox and input while not editable*/
input[disabled], select[disabled]{
    background-color: #e9ecef;
    cursor: not-allowed
}