<div *ngIf="showForm" class="dialog-container">
  <h2 class="center">Create Mitigation Dialog <button class ="cancel-btn" (click)="cancelForm()" style="color: red;">X</button></h2>
  
    <form [formGroup]="mitigationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="required">description</label>
         <input type="text" formControlName="description"  style="width: 350px; height: 35px;">
      </div>
    <br>

    <div class="form-group">
      <label class="required">pre_mitigation_score</label>
      <select type="text" formControlName="pre_mitigation_score" [disabled]="!mitigationForm.get('description')?.value" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <br>

    <div class="form-group">
      <label class="required">post_mitigation_score</label>
      <select type="text" formControlName="post_mitigation_score" [disabled]="!mitigationForm.get('pre_mitigation_score')?.value" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <br>

    <div class="form-group">
      <label class="required">applied_on </label>
      <input type="text" formControlName="applied_on" type="datetime-local" [disabled]="!mitigationForm.get('post_mitigation_score')?.value" style="width: 350px; height: 35px;" required>
    </div>

    <br>

    <button type="submit" [disabled]="!mitigationForm.valid" >Submit</button>

    <div *ngIf="error">
      {{error}}
    </div>
  </form>
</div>