<div *ngIf="serverDown" style=" position: fixed; text-align: center; margin-top: 20px; top: 0; left: 0; width: 100%;">
  <p style="font-weight: bold; color:  red; font-size: large;">Server is down! Please check the backend connection!</p>
</div>

<div class="main-container" [ngClass]="{'shift-left':showForm}">
  <div *ngIf="!serverDown">
    <div class="header" *ngIf="!showForm">
        <h2>Mitigation Details</h2>
        <button class="create-btn"(click)="openForm()">Create</button>
    </div>

  
    
    <div class="table-container">
      
        <table>
            <tr>
              <th><input type = "checkbox"></th>
              <th>#Mitigation</th>
              <th>Description</th>
              <th>Pre-Mitigation Score</th>
              <th>Post-Mitigation Score</th>
              <th>Applied On</th>
            </tr>
            <tr *ngFor="let mitigation of mitigations | paginate: { itemsPerPage: 10, currentPage: p}">
              <td>
                <input type="checkbox" [(ngModel)]="mitigation.checked">
              </td>
              <td>
                {{ mitigation.mitigationId}}
                <button *ngIf="mitigation.checked" (click)="deleteMitigation(mitigation.mitigationId)">X</button>
              </td>
              <td>
                <ng-container *ngIf="!mitigation.checked; else editDescription">
                  {{ mitigation.description }}
                </ng-container>
                <ng-template #editDescription>
                  <input type="text" [(ngModel)]="mitigation.description">
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!mitigation.checked; else editPreMitigationScore">
                  {{ mitigation.pre_mitigation_score }}
                </ng-container>
                <ng-template #editPreMitigationScore>
                  <select [(ngModel)]="mitigation.pre_mitigation_score">
                    <option *ngFor="let score of scores" [value]="score">{{ score }}</option>
                  </select>
                </ng-template>
              </td>
              <td>
                <ng-container *ngIf="!mitigation.checked; else editPostMitigationScore">
                  {{ mitigation.post_mitigation_score }}
                </ng-container>
                <ng-template #editPostMitigationScore>
                  <select [(ngModel)]="mitigation.post_mitigation_score">
                    <option *ngFor="let score of scores" [value]="score">{{ score }}</option>
                  </select>
                </ng-template>
              </td>
              <td>{{ mitigation.applied_on }}</td>
            </tr>
           
        </table>

        <tfoot>
          <tr>
            <td colspan="6" style="border: none; padding: 0;">
              <br><br>
              <span style="color: rgb(0, 8, 0);">Average Mitigation Score: </span>
              <span style="font-weight: bold; color: black;">{{calculateAverageMitigationScore() | number: '1.2-2'}}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: rgb(3, 184, 154);">Average Pre-Mitigation Score: </span>
              <span style="font-weight: bold; color: black;">{{calculateAveragePreMitigationScore() | number: '1.2-2'}}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: rgb(3, 184, 154);">Average Post-Mitigation Score: </span>
              <span style="font-weight: bold; color: black;">{{calculateAveragePostMitigationScore() | number: '1.2-2'}}</span>
            </td>
          </tr>
        </tfoot>

        <div class="pagination-controls">
          <br>
          <pagination-controls (pageChange) = "p = $event" [maxSize] = "10" [directionLinks] = "true" [autoHide] = "true"></pagination-controls>
        </div>
      </div>
      <!-- <div *ngIf="showForm">
        <app-create-mitigation-dialog (onSubmit)="submitMitigation($event)"></app-create-mitigation-dialog>
      </div> -->

       <!-- adding the form the table ui -->
      <div class="form-container" *ngIf="showForm">
        <app-create-mitigation-dialog (onSubmit)="submitMitigation($event)"></app-create-mitigation-dialog>
      </div>

    </div>
      
</div>
