/* General container styling*/
.container{
    max-width: 1000px;
    margin: 40px auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 10px 10px 5px hsl(0, 7%, 91%);
    width: 80%;
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.create-btn{
    background-color: #f8f9fa;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
}
/* Table styling*/
table{
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
}

th, td{
    padding: 10px;
    text-align: left;
    font-family: sans-serif;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

/* tbosy tr:nth-child(even){
    background-color: #e9ecefe2;
} */

.create-mitigation-btn{
    background-color: #4CAf50;
    color: #fff;
    padding: 10px, 20px;
    border:#454545;
    border-radius: 5px;
    cursor: pointer;
    font-family: solid sans-serif;
}

.create-mitigation-btn:hover{
    background-color: #3e8341;
}

.delete.btn{
    background-color: #e74c3c;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;

}