/* General container styling*/
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin-left: 350px auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 10px 10px 5px hsl(0, 7%, 91%);
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    transition: margin 0.5s;
}

.table-container{
    transition: margin 0.5s;
}

.shift-left{
    margin-left: 100px !important;
    margin-right: 0 !important;
    width: 60%;
    transition: 0.5s;
}

.form-container.ng-hide {
    opacity: 0;
}

.pagination-controls{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* background-color: #3e8183; */
    border-color: #808080;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.create-btn{
    background-color: rgb(3, 184, 154);
    color: #0a0101;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-block;
}

/* .cancel-btn {
    background-color: #ccc;
    color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
} */

/* Table styling*/
table{
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
}

th, td{
    padding: 10px;
    text-align: left;
    font-family: sans-serif;
    border: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}

/* tbosy tr:nth-child(even){
    background-color: #e9ecefe2;
} */
.create-mitigation-btn, .delete.btn, .cancel-btn{
    visibility: visible;
    opacity: 1;
}

.create-mitigation-btn{
    background-color: #4CAf50;
    color: #fff;
    padding: 10px, 20px;
    border:#454545;
    border-radius: 5px;
    cursor: pointer;
    font-family: solid sans-serif;
}

.create-mitigation-btn:hover{
    background-color: #3e8341;
}

.button{
    margin: 3px;
}

.score-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
}
