<div *ngIf="serverDown" style=" position: fixed; text-align: center; margin-top: 20px; top: 0; left: 0; width: 100%;">
  <p style="font-weight: bold; color:  red; font-size: large;">Server is down! Please check the backend connection!</p>
</div>

<div class="main-container" [ngClass]="{'shift-left':showForm}">
  <div *ngIf="!serverDown">
    <div class="header" *ngIf="!showForm">
        <h2>Mitigation Details</h2>
        <button class="create-btn"(click)="openForm()">Create</button>
    </div>

  
    
    <div class="table-container">
      
        <table>
            <tr>
              <th>Mitigation-ID</th>
              <th>Description</th>
              <th>Pre-Mitigation Score</th>
              <th>Post-Mitigation Score</th>
              <th>Applied On</th>
              <th>Actions</th>
            </tr>
            <tr *ngFor="let mitigation of mitigations">
              <td>{{ mitigation.mitigationId }}</td>
              <td>
                <span *ngIf="!mitigation.editMode">{{ mitigation.description }}</span>
                <input *ngIf="mitigation.editMode" type="text" [(ngModel)]="mitigation.description">
              </td>
              <td>
                <span *ngIf="!mitigation.editMode">{{ mitigation.pre_mitigation_score }}</span>
                <input *ngIf="mitigation.editMode" type="number" [(ngModel)]="mitigation.pre_mitigation_score">
              </td>
              <td>
                <span *ngIf="!mitigation.editMode">{{ mitigation.post_mitigation_score }}</span>
                <input *ngIf="mitigation.editMode" type="number" [(ngModel)]="mitigation.post_mitigation_score">
              </td>
              <td>{{ mitigation.applied_on }}</td>
              <td>
                <button class="button" *ngIf="!mitigation.editMode" (click)="editMitigation(mitigation, $event)">
                  <i class="fa fa-pencil" style="font-size: 16px; color: #337ab7;"></i>
                </button>
                <button class="button" *ngIf="mitigation.editMode" (click)="saveMitigation(mitigation)">
                  <i class="fa fa-save" style="font-size: 16px; color: #5cb85c;"></i>
                </button>
                <button class="button" *ngIf="mitigation.editMode" (click)="cancelEdit(mitigation)">
                  <i class="fa fa-times" style="font-size: 16px; color: #d9534f;"></i>
                </button>
                <button class="button" (click)="deleteMitigation(mitigation.mitigationId)">
                  <i class="fa fa-trash" style="font-size: 16px; color: #d9534f;"></i>
                </button>
              </td>
            </tr>
           
        </table>

        <tfoot>
          <tr>
            <td colspan="6" style="border: none; padding: 0;">
              <br><br>
              <span style="color: rgb(3, 184, 154);">Average Mitigation Score: </span>
              <span style="font-weight: bold; color: black;">{{calculateAverageMitigationScore() | number: '1.2-2'}}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: rgb(3, 184, 154);">Average Pre-Mitigation Score: </span>
              <span style="font-weight: bold; color: black;">{{calculateAveragePreMitigationScore() | number: '1.2-2'}}</span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span style="color: rgb(3, 184, 154);">Average Post-Mitigation Score: </span>
              <span style="font-weight: bold; color: black;">{{calculateAveragePostMitigationScore() | number: '1.2-2'}}</span>
            </td>
          </tr>
        </tfoot>

        <div class="pagination-controls">
          <br>
          <pagination-controls (pageChange) = "p = $event" [maxSize] = "10" [directionLinks] = "true" [autoHide] = "true"></pagination-controls>
        </div>
      </div>
      <!-- <div *ngIf="showForm">
        <app-create-mitigation-dialog (onSubmit)="submitMitigation($event)"></app-create-mitigation-dialog>
      </div> -->

       <!-- adding the form the table ui -->
      <div class="form-container" *ngIf="showForm">
        <app-create-mitigation-dialog (onSubmit)="submitMitigation($event)"></app-create-mitigation-dialog>
      </div>

    </div>
      
</div>
