<div class="container">
  <div class="header" *ngIf="!showForm">
      <h2>Mitigation Details</h2>
      <button class="create-btn"(click)="openForm()">Create</button>
      </div>
      <div *ngIf="!showForm">
        <table>
            <tr>
              <th><input type = "checkbox"></th>
              <th>#Mitigation</th>
              <th>Description</th>
              <th>Pre-Mitigation Score</th>
              <th>Post-Mitigation Score</th>
              <th>Applied On</th>
            </tr>
            <tr *ngFor="let mitigation of mitigations">
              <!-- <td>{{ mitigations.mitigation }}</td> -->
              <td>
                <input type="checkbox" [(ngModel)]="mitigation.checked">
              </td>
               <td>
                {{mitigation.mitigation}}
                <button *ngIf="mitigation.checked" (click)="deleteMitigation(mitigation.mitigation)">X</button>
              </td>
              <td>{{ mitigation.description }}</td>
              <td>{{ mitigation.pre_mitigation_score }}</td>
              <td>{{ mitigation.post_mitigation_score }}</td>
              <td>{{ mitigation.applied_on }}</td>
           
          </tr>
        </table>
      </div>
      <div *ngIf="showForm">
        <app-create-mitigation-dialog (onSubmit)="submitMitigation($event)"></app-create-mitigation-dialog>
      </div>
</div>
